extends layout

block content
  h1= title
  p Number of rows were #{query.rows} and columns were #{query.cols}
  - var rows = Number(query.rows)
  - var cols = Number(query.cols)
  if !Number.isInteger(rows) || !Number.isInteger(cols)
    p Rows/Columns is not a Number 
  else if rows > 10 || rows < 1
    p Rows should be in a range of 1 to 10
  else if cols > 10 || cols < 1
    p Columns should be in range of 1 to 10
  else 
    table#outer 
        - for(let i=0; i<10; i++) {
          tr#middle
            - for(let j = 0; j<10;j++){
                td = 1+i+j*i
            - }
        - }